
{% extends 'tracker/base.html'%}
{% load static %}


{% block cover %}

{% endblock %}
{% block main %}
<div class="dashboard wrapper  ">
    <h1>Welcome, {{ user.username }}</h1>
    <h2>Total Balance:  <span class="total-balance">€{{ total_balance }}</span></h2>


    <section class="wallet-section dashboard-shadow">
        <h3>Your Wallets:</h3>
        <div class="wallets">
            <div class="wallet-flex">
                {% for wallet in wallets %}
                    
                        <p class="wallet">{{ wallet.name }} <br> Balance: €{{ wallet.balance }}
                            <br>
                            <a href="{% url 'delete_wallet' wallet.id %}" >Delete</a>
                        </p>               
                        
                    
                {% endfor %}
            </div>
            <button class="dashboard-btn open-wallet-modal show-form" onclick="openWalletModal()">Add Wallet</button>
        </div>
    </section>


    <section class="sum dashboard-shadow">
        <h3>Financial Information</h3>
        <div class="dashboard-flex">
            <div class="dashboard-view income">
            
                <p>Total Income: €{{ total_income | floatformat:2  }}</p>
            </div>
    
            <div class="dashboard-view expenses">
                <p>Total Expenses: €{{ total_expenses|floatformat:2  }}</p>
            </div>
    
            <div class="dashboard-view net">
                <p>Net Balance: €{{ net_balance|floatformat:2  }}</p>
            </div>
    
        </div>
       
    </section>

    <section class="transactions-section dashboard-shadow">
        <h3>Recent Transactions:</h3>
        <div class="transaction-section-wrapper">

       

            
            <table border="1">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Amount</th>
                        <th>Wallet</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.category }}</td>
                        {% if transaction.type == "Expense" %}
                            <td>€-{{ transaction.amount }}</td>
                        {% else %}
                            <td>€{{ transaction.amount }}</td>
                        {% endif %}
                        <td>{{ transaction.wallet.name }}</td>
                        <td>{{ transaction.timestamp|date:"Y-m-d H:i" }}</td>
                        
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">No transactions available.</td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            <button class="dashboard-btn open-trans-modal show-form" onclick="openTransModal()">Add Transaction</button>

        </div>
    </section>

</div>


<form class="wallet_form wallet-modal modal hidden" method="post">
    {% csrf_token %}
    <button class="close-form" onclick="closeModal()">X</button>
    <h1>Add Wallet</h1>
    {{ wallet_form.as_p }}
    <button type="submit" name="submit_wallet_form" class="btn" onclick="hide_wallet()">Save</button>
</form>        
<div class="overlay hidden"></div>

   
<form method="post" class="trans-modal modal hidden">
    {% csrf_token %}
    <button class="close-form" onclick="closeModal()">X</button>
    <h1>Add Transaction</h1>
    {{ transaction_form.as_p }}
    <button type="submit" name="submit_transaction_form" class="btn">Add Transaction</button>
</form>
<div class="overlay hidden"></div>



{% endblock %}
